* { margin: 0 auto; }

menu { padding: 0 231px; background-color: #222; }

.menu__list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; list-style-type: none; height: 75px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 0; }

.menu__left { margin: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.menu__right { margin: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.menu__item { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-item-align: center; align-self: center; margin: 0 20px; }

.top { height: 764px; background-image: url(images/Background_header.png); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.top__header { border-left: 12px solid #F16D7F; text-transform: uppercase; font-family: 'Lato', sans-serif; font-size: 32px; line-height: 44px; color: #222222; margin-top: 290px; padding-left: 16px; }

.small-caps { font-size: 150%; }

article { margin-top: 65px; }

.for_women { -ms-grid-row: 1; -ms-grid-column: 1; grid-area: for_women; position: relative; background-image: url(images/for_women.png); background-size: cover; height: 260px; width: 360px; }

.for_men { -ms-grid-row: 1; -ms-grid-column: 2; grid-area: for_men; position: relative; background-image: url(images/for_men.png); background-size: cover; height: 260px; width: 360px; }

.for_kids { -ms-grid-row: 1; -ms-grid-column: 3; grid-area: for_kids; position: relative; background-image: url(images/for_kids.png); background-size: cover; height: 260px; width: 360px; }

.accesories { -ms-grid-row: 2; -ms-grid-column: 1; -ms-grid-column-span: 3; grid-area: accesories; position: relative; width: inherit; background-image: url(images/accesories.png); background-position: center; background-size: cover; height: 180px; width: 1140px; }

.item__list { display: -ms-grid; display: grid; -ms-grid-columns: (1fr)[3]; grid-template-columns: repeat(3, 1fr); -ms-grid-rows: auto; grid-template-rows: auto; grid-template-areas: "for_women for_men for_kids"  "accesories accesories accesories"; grid-gap: 30px; }

.item__for_women { position: absolute; margin-left: 103px; margin-top: 105px; }

.item__for_men { position: absolute; margin-left: 125px; margin-top: 105px; }

.item__for_kids { position: absolute; margin-left: 123px; margin-top: 105px; }

.item__accesories { position: absolute; margin-left: 490px; margin-top: 65px; }

.item_description { font-family: 'Lato', sans-serif; font-size: 16px; line-height: 19px; text-align: center; color: #FFFFFF; }

.item_name { font-family: 'Lato', sans-serif; font-size: 24px; line-height: 29px; text-align: center; color: #F16D7F; }

main { margin-top: 96px; }

.main__heading { font-size: 30px; line-height: 36px; color: #222222; margin-bottom: 6px; }

.main__paragraph { font-size: 14px; line-height: 17px; color: #9F9F9F; margin-bottom: 48px; }

.main__list { display: -ms-grid; display: grid; -ms-grid-columns: (1fr)[3]; grid-template-columns: repeat(3, 1fr); grid-gap: 30px; margin-bottom: 49px; }

.main__card { background-color: #F8F8F8; }

.main__card_header { font-family: Lato, sans-serif; font-size: 13px; line-height: 16px; color: #000000; margin-top: 25px; margin-left: 18px; text-transform: uppercase; }

.main__card_description { font-family: Lato; font-weight: 300; font-size: 14px; line-height: 17px; color: #5D5D5D; margin: 13px 29px 18px 16px; }

.main__card_price { color: #F16D7F; text-align: left; margin-bottom: 20px; margin-left: 18px; }

.main__button { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; border: 1px solid #FF6A6A; color: #FFFFFF; background-color: #F26376; width: 211px; height: 47px; margin-bottom: 100px; font-family: Lato; font-size: 16px; line-height: 19px; }

.main__button:hover { color: #F26376; background-color: #E5E5E5; }

.advantages_back { background-color: #222224; }

.advantages { display: -ms-grid; display: grid; -ms-grid-columns: (1fr)[3]; grid-template-columns: repeat(3, 1fr); gap: 30px; text-align: center; color: #FBFBFB; font-family: Lato; padding-top: 103px; padding-bottom: 104px; }

.advantages .advantages__delivery { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding-left: 22px; padding-right: 22px; }

.advantages .advantages_heading { margin-top: 28px; margin-bottom: 16px; font-size: 20px; line-height: 24px; }

.advantages .advantages_explanation { font-weight: 300; font-size: 14px; line-height: 17px; }

.subscribes_back { background-image: url(images/subscribe_back.png); }

.subscribes { background: rgba(244, 244, 244, 0.7); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-align: center; height: 448px; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.subscribes .subscribes__reveiw { width: 359px; }

.subscribes .subscribes__reveiw .subscribes_quote { margin-top: 40px; font-family: Lato; font-size: 20px; line-height: 24px; color: #222224; }

.subscribes .subscribe_us { width: 359px; }

.subscribes .subscribe_us .subscribes_heading { font-family: Lato; font-size: 24px; font-weight: 700; line-height: 40px; }

.subscribes .subscribe_us .subscribes_explanation { font-size: 18px; font-weight: 400; line-height: 30px; margin-bottom: 32px; }

.subscribes .subscribe_us .subscribe_block { display: -webkit-box; display: -ms-flexbox; display: flex; }

.subscribes .subscribe_us .subscribe_block .subscribe__form_email { width: 256px; height: 49px; background-color: #E1E1E1; border: none; border-radius: 25px 0 0 25px; padding-left: 25px; }

.subscribes .subscribe_us .subscribe_block .subscribe__form_button { width: 100px; height: 49px; background-color: #F16D7F; border: none; border-radius: 0 25px 25px 0; font-family: Lato; font-size: 14px; line-height: 17px; text-align: center; color: #FFFFFF; }

footer { background-color: #222224; height: 79px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

footer .footer__copy { font-family: Lato; font-size: 16px; line-height: 19px; color: #FBFBFB; padding-right: 233px; }

footer .footer__links { display: -webkit-box; display: -ms-flexbox; display: flex; }

footer .footer__icons { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 31px; height: 32px; background-color: #FFFFFF; margin-left: 15px; }

@media (min-width: 1600px) { .container { width: 1140px; } }

@media (max-width: 1600px) and (min-width: 768px) { .container { width: 735px; }
  menu { padding: 0 32px; }
  .top { height: 368px; }
  .top__image { height: 100%; }
  .top__header { font-size: 24px; line-height: 36px; margin-top: 138px; padding-left: 16px; }
  .small-caps { font-size: 186%; }
  .item__list { gap: 20px; }
  article { margin-top: 20px; }
  .for_women { height: 168px; width: 232px; }
  .for_men { height: 168px; width: 232px; }
  .for_kids { height: 168px; width: 232px; }
  .accesories { height: 116px; width: 735px; }
  .item__for_women { margin-left: 40px; margin-top: 59px; }
  .item__for_men { margin-left: 61px; margin-top: 59px; }
  .item__for_kids { margin-left: 59px; margin-top: 59px; }
  .item__accesories { margin-left: 284px; margin-top: 39px; }
  main { margin-top: 155px; }
  .main__heading { margin-bottom: 3px; }
  .main__paragraph { margin-bottom: 74px; }
  .main__list { -ms-grid-columns: (1fr)[2]; grid-template-columns: repeat(2, 1fr); -ms-grid-rows: (1fr)[3]; grid-template-rows: repeat(3, 1fr); grid-gap: 18px 16px; margin-bottom: 33px; }
  .main__card_header { margin-top: 24px; }
  .main__button { margin-bottom: 65px; }
  .advantages { -ms-grid-columns: 1fr; grid-template-columns: 1fr; padding-top: 48px; padding-bottom: 64px; }
  .subscribes_back { background-size: 400%; background-position-x: 20%; background-position-y: 72%; }
  .subscribes { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: start; height: 693px; }
  .subscribes .subscribes__reveiw { margin-top: 60px; }
  .subscribes .subscribe_us { margin-top: 50px; } }

@media (max-width: 768px) { .container { width: 359px; }
  menu { padding: 0 16px; }
  .menu__right { margin-right: 10px; }
  .menu__right :nth-child(n + 2) { display: none; }
  .top { height: 363px; margin: 0; }
  .top__image { display: none; }
  .top__header { font-size: 20px; line-height: 30px; margin-top: 138px; padding-left: 16px; }
  .small-caps { font-size: 190%; }
  .item__list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .for_women { height: 247px; width: 343px; }
  .for_men { height: 247px; width: 343px; }
  .for_kids { height: 247px; width: 343px; }
  .accesories { width: 343px; height: 111px; }
  .item__for_women { margin-left: 94px; margin-top: 95px; }
  .item__for_men { margin-left: 120px; margin-top: 102px; }
  .item__for_kids { margin-left: 112px; margin-top: 105px; }
  .item__accesories { margin-left: 88px; margin-top: 35px; }
  .main__list { display: -ms-grid; display: grid; -ms-grid-columns: 1fr; grid-template-columns: 1fr; grid-gap: 17px; margin-bottom: 41px; }
  .main__card_header { margin-top: 23px; }
  .main__button { margin-bottom: 97px; }
  .advantages { -ms-grid-columns: 1fr; grid-template-columns: 1fr; padding-top: 48px; padding-bottom: 81px; }
  .subscribes_back { background-size: 400%; background-position-x: 27%; background-position-y: 88%; }
  .subscribes { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: start; height: 550px; }
  .subscribes .subscribes__reveiw { margin-top: 60px; }
  .subscribes .subscribes__reveiw .subscribes_quote { font-size: 18px; line-height: 22px; }
  .subscribes .subscribe_us { margin-top: 60px; }
  .subscribes .subscribe_us .subscribes_heading { line-height: 37px; }
  .subscribes .subscribe_us .subscribes_explanation { font-size: 14px; line-height: 21px; margin-bottom: 22px; }
  footer { height: 143px; -webkit-box-orient: vertical; -webkit-box-direction: reverse; -ms-flex-direction: column-reverse; flex-direction: column-reverse; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: start; }
  footer .footer__copy { padding-right: 0; padding-top: 40px; }
  footer .footer__links { padding-top: 43px; } }
/*# sourceMappingURL=style.css.map */